* {
  margin: 0;
  padding: 0;
}

#angelina-bio {
  border-style: solid;
  outline: 50% solid #CCC;
  font-family: sans-serif;
  line-height: 2;
  padding: 30px;
  height:50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  margin-top: 10px;
}


a:link, a:visited {
    background-color: #ffffff;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: sans-serif;
}

a:hover, a:active {
    background-color:#f2f2f2;
    font-family: sans-serif;
}

#start {
  /*start button*/
  margin-left: 670px;
  margin-right: 500px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 200%;

}

#imgCircle {
  display: block;
  border-radius: 50%;
  height: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
